@font-face {
  font-family: 'Exo 2';
  src: local('Exo 2 Light'), local('Exo2-Light'), url('../fonts/exo2light.woff2') format('woff2'), url('../fonts/exo2light.woff') format('woff'), url('../fonts/exo2light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Exo 2';
  src: local('Exo 2'), local('Exo2-Regular'), url('../fonts/exo2.woff2') format('woff2'), url('../fonts/exo2.woff') format('woff'), url('../fonts/exo2.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Exo 2';
  src: local('Exo 2 Medium'), local('Exo2-Medium'), url('../fonts/exo2medium.woff2') format('woff2'), url('../fonts/exo2medium.woff') format('woff'), url('../fonts/exo2medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Exo 2';
  src: local('Exo 2 Semi Bold'), local('Exo2-SemiBold'), url('../fonts/exo2semibold.woff2') format('woff2'), url('../fonts/exo2semibold.woff') format('woff'), url('../fonts/exo2semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Exo 2';
  src: local('Exo 2 Bold'), local('Exo2-Bold'), url('../fonts/exo2bold.woff2') format('woff2'), url('../fonts/exo2bold.woff') format('woff'), url('../fonts/exo2bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
/****COLORS***/
/********COMMON STYLES***/
html {
  font-size: 15px;
  width: 100%;
}
body {
  font-family: 'Exo 2', sans-serif;
  font-weight: 300;
  font-size: 1rem;
}
body * {
  letter-spacing: 0.05rem;
  padding: 0;
  margin: 0;
  outline: none !important;
  line-height: 1.6;
}
body a:link {
  text-decoration: none;
  transition: 0.3s;
}
body a:visited {
  text-decoration: none;
}
body a:hover {
  text-decoration: none;
  color: #e59943;
}
body a:active {
  text-decoration: none;
  color: #c1731b;
}
a.gradient-btn {
  display: inline-block;
  text-align: center;
  font-family: 'Exo 2';
  font-size: 1.3rem;
  height: 50px;
  width: 185px;
  color: #f5e5cb;
  text-decoration: none;
  transition: .5s;
  border: 2px solid #f5e5cb;
  border-radius: 50px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  line-height: 45px;
  transition: .3s;
  margin-top: 1rem;
}
a.gradient-btn:hover {
  background: -webkit-linear-gradient(left, rgba(46, 229, 157, 0.1), rgba(46, 229, 157, 0.2));
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
  color: #f5e5cb;
}
ol,
ul {
  list-style: none;
}
.pd100 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.section-header {
  font-size: 3.3rem;
  text-align: center;
  font-weight: 400px;
  margin-bottom: 4rem;
}
.navbar-default {
  display: none;
  background-color: rgba(12, 83, 127, 0.9);
}
.container-fluid > .navbar-header {
  padding: 1rem 0;
}
.container-fluid > .navbar-header img {
  padding-top: .3rem;
  margin-left: 20px;
}
.navbar-fixed-bottom .navbar-collapse,
.navbar-fixed-top .navbar-collapse {
  max-height: 600px;
}
.navbar-collapse li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.navbar-inverse .navbar-nav > li > a {
  color: #fff;
  padding: 1rem;
  font-size: 1.2rem;
}
.navbar-inverse .navbar-nav > li:last-child {
  border-bottom: none;
}
.navbar-inverse .navbar-nav > li > a:hover {
  color: #e59943;
}
/******** HEADER ***/
.main {
  width: 100%;
  height: 100vh;
  background-color: #0d5b80;
  background-image: url(../img/main_bg2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.main-menu {
  padding-top: 2rem;
  padding-bottom: .5rem;
}
.main-menu-list {
  text-align: right;
}
.main-menu-item {
  display: inline-block;
  margin-left: 2rem;
}
.main-menu-item a {
  color: #fff;
  font-weight: 300;
  padding-bottom: 1rem;
  border-bottom: 1px solid transparent;
}
.main-menu img {
  max-width: 2.5rem;
  display: none;
}
.main-logo {
  margin: 8rem auto 1rem;
  width: 100%;
  text-align: center;
}
.main-logo img {
  margin: 0 auto;
}
.main img.shadow {
  opacity: .7;
}
img.top-logo {
  max-width: 45px;
}
h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: 300;
  color: #fff;
  margin-bottom: 2rem;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.7);
}
ul.main-menu-list a:hover {
  border-bottom: 1px #e59943 solid;
}
@keyframes move {
  from {
    -webkit-transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(4px);
  }
  100% {
    -webkit-transform: translateY(0px);
  }
}
.taler {
  z-index: 99;
}
img.main-down {
  animation: move 3s infinite ease-in-out;
}
@keyframes scale {
  from {
    -webkit-transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1.01, 1.05);
  }
  100% {
    -webkit-transform: scale(1, 1);
  }
}
img.shadow {
  animation: scale 3s infinite ease-in-out;
}
/*** FEATURES **/
.features {
  padding-bottom: 8rem;
}
.features h2,
.features h3,
.features h4 {
  color: #e59943;
}
.features p,
.features img {
  display: inline-block;
}
.features p {
  color: #fff;
}
.features-box {
  margin-top: 5rem;
  transition: .5s;
}
.features-box-text {
  border-left: solid 1px #e59943;
  padding-left: 1rem;
  padding-right: 4rem;
  text-align: left;
  height: 100%;
}
.features-box img {
  max-width: 70px;
}
.features-text {
  font-size: 1.4rem;
  text-align: center;
}
.features-box:hover {
  -webkit-transform: scale(1.05, 1.05);
  -ms-transform: scale(1.05, 1.05);
  -o-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
}
.features {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0d496d+0,0d5b80+30,0d5b80+71,0d496d+100 */
  background: #0d496d;
  /* Old browsers */
  background: -moz-linear-gradient(left, #0d496d 0%, #0d5b80 30%, #0d5b80 71%, #0d496d 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #0d496d 0%, #0d5b80 30%, #0d5b80 71%, #0d496d 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #0d496d 0%, #0d5b80 30%, #0d5b80 71%, #0d496d 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0d496d', endColorstr='#0d496d', GradientType=1);
  /* IE6-9 */
}
/*** DOWNLOAD **/
.download-box-inner {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0d5b80+0,05587f+100 */
  background: #0d5b80;
  /* Old browsers */
  background: -moz-linear-gradient(top, #0d5b80 0%, #e59943 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #0d5b80 0%, #e59943 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #0d5b80 0%, #e59943 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0d5b80', endColorstr='#05587f', GradientType=0);
  /* IE6-9 */
}
.download {
  position: relative;
}
.download h2 {
  color: #0d5b80;
}
.download h4 {
  color: #fff;
  font-weight: 300;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 1.7rem;
  border-bottom: 2px #dedede solid;
}
.download-box {
  text-align: center;
  min-height: 20rem;
  border: 2px solid #0d5b80;
  padding: .3rem;
  margin: 1rem auto;
  max-width: 500px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
.download-box-inner {
  padding-top: 5rem;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.7);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.7);
}
.download-box-inner a {
  position: relative;
  display: inline-block;
  color: #fff;
  line-height: 50px;
  width: 100%;
  font-size: 1.2rem;
}
.download-box-inner a:hover {
  background-color: #e28d2d;
  color: #0d5b80;
  -webkit-border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  -ms-border-radius: 0 0 10px 10px;
  -o-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}
.download-box-inner i.fa-chevron-down {
  position: absolute;
  top: 35%;
  right: 10%;
  font-size: 1rem;
}
.download-box-inner img {
  max-width: 6rem;
}
.download-box-inner a.double {
  line-height: 30px;
}
.dropdown-menu {
  top: 95%;
  width: 80%;
  left: 1.9rem;
  background-color: #e59943;
  padding: 0;
}
.dropdown-menu li {
  border-bottom: 1px solid #fff;
  height: 100%;
}
.dropdown-menu li a {
  color: #fff;
  text-align: center;
  line-height: 2.5;
  font-weight: 300;
}
.dropdown-menu li a:hover {
  border-radius: 0;
  background-color: #b5862b;
  color: #0d5b80;
}
img.bg-image {
  position: absolute;
  bottom: -220px;
  left: -180px;
  max-width: 600px;
  z-index: -1;
  opacity: .4;
}
p.instruction {
  text-align: center;
  color: #0d5b80;
  font-size: 1.5rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
p.instruction a {
  font-weight: 600;
  text-decoration: underline;
}
p.instruction a i {
  margin-right: .5rem;
}
/*** SPECIFICATION **/
.specification {
  background: #b87c05;
  background: -moz-linear-gradient(-45deg, #b87c05 0%, #b87c05 22%, #ffcf77 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #b87c05), color-stop(22%, #b87c05), color-stop(100%, #ffcf77));
  background: -webkit-linear-gradient(-45deg, #b87c05 0%, #b87c05 22%, #ffcf77 100%);
  background: -o-linear-gradient(-45deg, #b87c05 0%, #b87c05 22%, #ffcf77 100%);
  background: -ms-linear-gradient(-45deg, #b87c05 0%, #b87c05 22%, #ffcf77 100%);
  background: linear-gradient(135deg, #b87c05 0%, #b87c05 22%, #ffcf77 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b87c05', endColorstr='#ffcf77', GradientType=1);
}
.specification {
  position: relative;
  padding-bottom: 9rem;
}
.specification h2 {
  color: #fff;
  text-align: left;
}
.specification p,
.specification ul {
  color: #fff;
  font-size: 1.3rem;
}
.specification span.mobile {
  display: none;
}
.specification-image img {
  position: absolute;
  top: -160px;
  max-width: 26rem;
}
/*** ROAD MAP **/
.done {
  color: #0d5b80;
}
.process {
  color: #e59943;
}
.plan {
  color: #888888;
}
.roadmap p,
.roadmap ul.roadmap-list-inner > li {
  font-size: 1.3rem;
  line-height: 1.5;
}
.roadmap h2 {
  color: #0d5b80;
}
.roadmap-date {
  text-align: center;
}
.roadmap-date i {
  font-size: 3rem;
  position: absolute;
  top: -5px;
  right: -5px;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4);
}
.roadmap-date p {
  height: 100%;
  font-size: 1.3rem;
}
.roadmap-content {
  padding: 4rem 1rem;
  background-color: #e2f1f9;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 13px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 0px 13px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 0px 13px 0px rgba(50, 50, 50, 0.75);
}
.roadmap-text {
  height: 100%;
}
ul.roadmap-list-inner {
  list-style: disc;
}
time {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 700;
  background: -webkit-linear-gradient(left, #0d5b80, #e59943);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: .7;
}
.roadmap-text {
  padding: 0 2rem 2rem 4rem;
  min-height: 100px;
}
.roadmap-text:before {
  content: '';
  display: block;
  position: absolute;
  left: -22px;
  top: 40px;
  width: 7px;
  height: calc(90%);
  background: linear-gradient(rgba(13, 91, 128, 0.4) 50%, transparent 50%);
  background-size: 10px 20px;
  background-color: transparent;
}
div.last:before {
  content: none;
}
/*** PARPHNERS **/
.parthners h2 {
  color: #0d5b80;
}
.parthners ul {
  margin-top: 1rem;
  text-align: center;
}
.parthners li {
  margin-top: 3rem;
  width: 32%;
  display: inline-block;
}
.parthners li img {
  display: inline-block;
  transition: .3s;
}
.parthners li img:hover {
  -webkit-transform: scale(1.1, 1.1);
}
/*** COMMUNITY **/
.community {
  color: #f5e5cb;
  background-color: #0d5b80;
  background-image: url(../img/community_bg-compressor.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.community .buttons {
  text-align: center;
  padding: 1rem 6rem;
}
.community .buttons i {
  font-size: 1.5rem;
  padding-right: 1rem;
}
.community p {
  padding: 3rem 0;
  font-size: 1.3rem;
}
.community strong {
  font-weight: 600;
}
.community-links li {
  margin-top: .7rem;
}
.community-links a {
  color: #f5e5cb;
  font-weight: 500;
  border-bottom: 1px solid #f5e5cb;
}
.community-links a:hover {
  border-bottom: 1px solid #e59943;
}
/*** FOOTER **/
.footer-big {
  background-color: #37444e;
  padding-top: 2.1rem;
  padding-bottom: 2.1rem;
}
.footer-big h3 {
  margin-bottom: 1rem;
  color: #f5e5cb;
  font-size: 1.3rem;
}
.footer-big li {
  padding-bottom: .5rem;
}
.footer-big p {
  padding-bottom: 1rem;
  color: white;
}
.footer-big img {
  display: inline-block;
  max-width: 11rem;
}
.footer-about {
  margin-top: 2rem;
}
.footer-small {
  background-color: #495863;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #cfcfcf;
  font-size: .8rem;
}
.footer-small a {
  text-decoration: underline;
}
footer a:link {
  text-decoration: none;
  transition: 0.3s;
  color: #fff;
}
footer a:visited {
  color: #fff;
  text-decoration: none;
}
footer a:hover {
  text-decoration: none;
  color: #e59943;
}
footer a:active {
  text-decoration: none;
  color: #c1731b;
}
/*** GO TOP **/
#go-top {
  position: fixed;
  bottom: 6%;
  right: 2rem;
  cursor: pointer;
  display: none;
  font-size: 4rem;
  color: rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
#go-top:hover {
  color: rgba(0, 0, 0, 0.5);
}
